<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidassignment">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidAssignment"
        android:usesCleartextTraffic="true">
        <activity android:name=".views.UnloadingTruckLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity android:name=".views.StackQualityInspectionActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".views.RakeUnloadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".views.LoginActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.HomeActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".views.WagonPostLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".views.WagonPreLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".views.WagonLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity android:name=".views.TruckUnloadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
        <activity
            android:name=".views.RakeLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="true" />
        <activity
            android:name=".views.InspectionActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="true" />
        <activity
            android:name=".views.TruckLoadingActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:exported="true" />
    </application>

</manifest>